@media screen and (max-width: 1055px) {
  .logo{
        font-size: 2rem;
    }
    .menu ul{
        gap: 30px;  
    }
    .menu ul li {
        font-size: 1rem;
    }
    .buttonHeader{
        font-size: 1rem;
    }
    main p{
        width: auto;
        
    }
    .decorationImg{
        display: none;
    }
    
}
@media screen and (max-width: 910px){
    .menu {
        display: none;
    }
    .menu-mobile{
        display: block;
    }
    .logo{
        font-size: 2.5rem;
    }
    .buttonBurger{
        display: flex;
    }
    .imgLeft{
        display: none;
    }
    .imgRight{
        display: none;
    }
}
@media screen and (max-width: 766px){
    .title {
       font-size: 2rem;
    }
    .recorte-white{
        margin-top: 350px;
    }
    .fundo-recorte-black{
        top: -60px;
    }
    main p{
        font-size: 1rem;
        margin-top: 20px;
        
    }
    main{
       background-size: 110vh;
       background-position: center center;
    }
    .sub-title{
        font-size: 2rem;
        padding-top: 80px;
    }
    .cards{
        width: 120px;
    }
    .carousel{
       width: 80vw; 
    }
    .cardapio{
        flex-wrap: wrap;
        
    }
    .paragraph-menu{
        width: 100%;
    }
    .option-cardapio{
        width: 200px;
    }
    .about-us p{
        font-size: 0.8rem;
        
    }
    .promotion-img{
        display: none;
    }
    .reservation-text{
        padding-left: 20px;
        padding: 0;
    }
    .reservation-text h3{
        font-size: 1.5rem;
        padding: 0;
    }
    .reservation-text p{
        display: none;

    }
    .container-reservation{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
    .formulario{
        margin: 0 auto;
        gap: 8px 25px;
        
        
    }
    form input{
        width: 150px;
        font-size: 0.8rem;
    }
    .recorte-reservation .fundo-recorte-black {
        height: 500px;
    }
    .descriptionFooter ul{
        gap: 30px 20px;
        margin-right: 10px;
    }
    .descriptionFooter{
        flex-direction: column;
    }
}
@media screen and (max-width: 500px) {
    .option-cardapio{
        width: 160px;
    }
    .logo{
        font-size: 2rem;
    }
    
    .cardapio{
        margin: 30px auto;
        padding: 0 5px
    }
    .paragraph-menu{
        width: 300px;
    }
    .buttonHeader{
        width: 130px;
        height: 45px;
        font-size: 1rem;

    }
    .cardapio 
.option-cardapio h3{
        font-size: 1.5rem;
    }
    .option-cardapio p{
        font-size: 0.9rem;
    }
    .option-cardapio a{
        padding-bottom: 15px;
    }
    .descriptionFooter p{
        text-align: center;
        margin: 0 auto;
        width: 200px;
    }
    footer h1{
        text-align: center;
    }
    
}