* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
}

:root {
    --corPaleta01: #fff;
    --corPaleta02: #ff7c32;
    --corPaleta03: #f5986333;
    --corPaleta04: #2c2b2b;
    --fonteTitle: "Bebas Neue", serif;
    --fontParagraph: "Roboto", serif;
    --fontFooter: "Lobster", serif;
    --borderRadios: 6px;

}


header {
    margin: auto;
    width: 85vw;
    display: flex;
    background-color: var(--corPaleta02);
    align-items: center;
    justify-content: space-between;
    height: 90px;
    font-family: var(--fontParagraph);
    border-radius: var(--borderRadios);
    border: 3px solid var(--corPaleta01);
    position: relative;

}
.menu-mobile{
  
    position: absolute;
    height: 0;
    padding: 0;
    width: 150px;
    top: 88px;
    right: 0px;
    border-radius: 6px 0px 6px 6px;
    background-color: #fd6f1cc1;
    overflow: hidden;
    transition: 0.7s;
}
.menu-mobile ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 25px;
    align-items: end;
    padding: 8px 0px ;

}

.menu-mobile ul li a {
    color: var(--corPaleta01);
}
.menu-mobile ul li a:hover{
    color: #000;

    display: block;
}
.active{
    height: 240px;
   padding: 1rem;
}

.menu ul{
    display: flex;
    gap: 40px;
}

.menu ul li {
    list-style: none;
    font-size: 1.1rem;
    color: var(--corPaleta01);
    
}
.menu ul li a {
    color: #000;
    display: block;
}

.menu ul li:hover{
    text-decoration: underline;
    text-decoration-color: var(--corPaleta01);
    text-underline-offset: 7px;





}

.logo {
    font-family: var(--fonteTitle);
    font-size: 2.5rem;
    margin-left: 10px;
}
.buttonBurger{
    
    display: flex;
    display: none;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60px;
	height: 40px;
    cursor: pointer;

}
.burger-line{
    position: absolute;
	width: 40px;
	height: 5px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: .5px .5px 1px #5e5e5e;
}
.burger-line:nth-child(1){
    transform: translateY(-12px);
}
.burger-line:nth-child(3){
    transform: translateY(12px);
}
.buttonBurger.close .burger-line:nth-child(1){
    animation: line1-close-animation 1s forwards;
}

.buttonBurger.close .burger-line:nth-child(2){
	animation: line2-close-animation 1s forwards;
}

.buttonBurger.close .burger-line:nth-child(3){
	animation: line3-close-animation 1s forwards;
}


.burger-line:nth-child(1){
	animation: line1-animation 1s forwards;
}
.burger-line:nth-child(2){
	animation: line2-animation 1s forwards;
}
.burger-line:nth-child(3){
	animation: line3-animation 1s forwards;
}

.buttonHeader {
    width: 150px;
    height: 50px;
    border-radius: var(--borderRadios);
    background-color: var(--corPaleta02);
    border-color: var(--corPaleta01);
    border: 3px solid #fff;
    color: var(--corPaleta01);
    margin-right: 10px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
}

.buttonHeader:hover {
    border-color: var(--corPaleta04);
    color: var(--corPaleta04);
}

main {
    
    padding-top: 20px;
    background-image: url(img/pizza-fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 110vh;
    width: calc(100vw - 17px);

}

.fundo {
    height: 110vh;
    background-color: #000000b5;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-top: 50px;

}

.title {
    color: var(--corPaleta01);
    text-align: center;
    font-size: 2.5rem;
    font-family: var(--fonteTitle);

}

main p {
    width: 900px;
    text-align: center;
    color: var(--corPaleta01);
    font-size: 1.1rem;
    font-family: var(--fontParagraph);
    margin-bottom: 50px;
    margin: 0 25px;
    
    


}
.ask{
    display: flex;
    justify-content: center;
}
.askbutton {
    margin: 10px;
    width: 150px;
    height: 50px;
    border-radius: var(--borderRadios);
    border: none;
    color: var(--corPaleta01);
    font-size: 1.1rem;
    background-color: var(--corPaleta02);
    cursor: pointer;


}

.table {
    color: var(--corPaleta02);
    background-color: #ff7d3203;
    border: 3px solid;
    border-color: var(--corPaleta02);
}

.table:hover {
    color: var(--corPaleta01);
    border-color: var(--corPaleta01);
}

.online:hover {
    border-color: var(--corPaleta01);
    border: 3px solid;

}


.recorte {
    margin: 0;
    padding: 0;
    width: calc(100vw - 17px);
}
.fundo-recorte-black {
    background-image: url(img/3214600-232323.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%  ;
    height: 450px;
    position: relative;
    top: -60px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
.sub-title {
    padding-top: 50px;
    font-size: 2.5rem;
    color: var(--corPaleta01);
    text-transform: uppercase;
    font-family: var(--fonteTitle);
}
.carousel{
    padding: 50px 0px;
    margin: 0 auto;
    width: 55vw;
    overflow: hidden;
    display: flex;
    > * {
        flex: 0 0 100%;
      }
      &:hover .groups_apps {
        animation-play-state: paused;
      }
      
}
.cards{
    width: 100%;
    color: var(--corPaleta01);
    border-radius: var(--borderRadios);
    box-shadow: rgba(0, 0, 0, 30%) 5px 5px 20px 0 ;
    padding: 30px;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    
    &:nth-child(1) {
        background: var(--corPaleta01);
        background-image: url(logo/ifood-logo.png) ;
        background-size: 100% 90%;
        background-position: center;
        background-repeat: no-repeat;
      }
  
      &:nth-child(2) {
        background: var(--corPaleta01);
        background-image: url(logo/logo-rappi-256.png) ;
        background-size: 100% 90%;
        background-position: center;
        background-repeat: no-repeat;
      }
  
      &:nth-child(3) {
        background: var(--corPaleta01);
        background-image: url(logo/Uber-Eats-Logo.png) ;
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
      &:nth-child(4) {
        background: var(--corPaleta01);
        background-image: url(logo/99-food-logo.png) ;
        background-size: 100% 40%;
        background-position: center;
        background-repeat: no-repeat;
      }
     
      
}
.groups_apps{
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transfomr;
    animation: scrolling 12s linear infinite;
}

@keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  .fundoWhite{
        color: var(--corPaleta04);
        text-align: center;
        font-family: var(--fontFooter);
        font-size: 3rem;
  }
  .option-menu{
    height: 80vh;
    width: calc(100vw - 17px);
  
  }
  .paragraph-menu{
    text-align: center;
    font-family: var(--fontParagraph);
    font-size: 1.1rem;
    width: 600px;
    margin: 20px auto;
  }
  .cardapio{
    display: flex;
    justify-content: center;
    max-width: 1000px;
    position: relative;
    margin: 50px auto;
    gap: 30px; 
  }
.option-cardapio{
    font-family: var(--fontParagraph);
    width: 100%;
    border: 1px solid;
    border-color:  var(--corPaleta02);
    background-color: var(--corPaleta03);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    text-align: center;
    box-shadow: 2px 2px 10px  black;
}
.cardapio 
.option-cardapio h3 {
    text-decoration: none;
    font-weight: normal;
    font-size: 1.5rem;

}
.material-icons{
    font-size: 3.5rem;
    background-repeat: 3rem;
    color: var(--corPaleta02);
}
.option-cardapio a {
    color: var(--corPaleta02);
    padding-bottom: 20px;
}
.option-cardapio a:hover{
    text-decoration: underline;
    text-underline-offset: 7px;

}
.option-cardapio p {
    width: 150px;
    
}
.decorationImg{
    background-image: url(img/fatia-pizza.png);
    position: absolute;
    background-size: 200px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    right: 50px;
    background-position: top right;
    

    
}
.about-us{
    background-image: url(img/fundo-rosa.png);
    background-repeat: no-repeat;
    background-size: 100% 114%  ;
    top: -10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: var(--fontParagraph);
    font-size: 1.1rem;
    gap: 15px;
    
    
}
.about-us p {
    width: 450px;
    text-align: center;
 
}
.about-us h2 {
    padding-top: 30px;
    font-family: var(--fonteTitle);
    font-weight: normal;
    font-size: 2rem;
    color: var(--corPaleta02);
}
.imgLeft{
    background-image: url(img/tipos-massa-pizza.jpg);
    position: absolute;
    background-size: contain;
    width: 200px;
    height: 200px;
    background-repeat: no-repeat;
    position: absolute;
    right: -20px;
    top: 10px;
    background-position: bottom;
    transform: rotate(10deg);
    
}
.imgRight{
    background-image: url(img/sobre-img.jpeg);
    background-size:contain ;
    width: 200px;
    height: 220px;
    background-repeat: no-repeat;
    position: absolute;
    top: 80px;
    background-position: bottom;
    left: -40px;
    transform: rotate(-10deg);
    
   
}
.recorte-white{
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
.onlineBlack:hover, .tableBlack:hover{
    border-color: var(--corPaleta04);
    border: 3px solid;
    color: var(--corPaleta04);
}
.promotion{
    margin-top: 50px;
    height: 100vh;
}
.titlePromotion{
    text-align: center;
    font-size: 2rem;
    font-family: var(--fonteTitle);


}
.promotion {
    text-align: center;
    font-size: 1.1rem;
    font-family: var(--fontParagraph);
    margin-top: 30px;
    height: 600px;
}
.container-promotion{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.option-promotion{
    margin-top: 20px;
    font-family: var(--fontParagraph);
    width: 300px;
    height: 450px;
    border: 1px solid var(--corPaleta04);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    box-shadow: 1px 1px 5px  black;
    font-size: 0.9rem;
    background-color: var(--corPaleta03);
}
.promotion-img{
    background-image: url(img/promotion.png) ;
    background-repeat: no-repeat;
    background-size: 350px 350px;
    width: 350px;
    height: 500px;
    background-position: center center;
}
.promotion .value{
    color: var(--corPaleta02);
    font-weight: 700;
    font-size: 1.2rem;
    align-self: start;
    padding-left: 35px;
}
.button-promotion{
    width: 150px;
    height: 50px;
    border-radius: var(--borderRadios);
    color: var(--corPaleta01);
    font-size: 0.9rem;
    background-color: var(--corPaleta02);
    cursor: pointer;
    border: none;
    align-self: flex-start;
    margin-left: 30px;
}
.button-promotion:hover{
    border: 3px solid #000;
    border-color: var(--corPaleta04);
    color: var(--corPaleta04) 
}
.passer .material-icons{
    font-size: 2.5rem ;
    cursor: pointer;
    margin-top: 30px;
}
.passer .material-icons:hover{
    color: var(--corPaleta04);
}
.gallery{
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    
}
.galery-wrapper {
    margin-top: 15px;
    overflow-x: auto;
    width: 200px;
    height: 200px;
}
.item {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    background-size: contain; 
}

.galery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .galery-wrapper-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .recorte-reservation{
    margin: 0;
    padding: 0;
    height: 500px;
    width: calc(100vw - 17px);
  }
 
  .reservation-text {
    padding-bottom: 50px;
    width: 100%;
    font-size: 1.3rem;
    text-align: center;
    font-family: var(--fontParagraph);
  }
  .reservation-text h3{
    font-size: 2.0rem;
    padding-bottom: 30px;
    font-family: var(--fonteTitle);
    color: var(--corPaleta02);
  }
  

  .formulario{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 10px 50px;
    font-family: var(--fontParagraph);
    margin-right: 20px;

  }
  .container-reservation{
    display: flex;
    max-width: 1000px;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: var(--corPaleta01);
  }
  .reservation-text ul{
    list-style: none;
  }
form label {
    display: block;
    font-size: 1.1rem;
    height: 20px;
    margin: 10px 0;
    color: var(--corPaleta02);
    
}
form input {
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: var(--borderRadios);
    width: 200px;
    background: var(--corPaleta04);
    height: 40px;
    color: var(--corPaleta01);
}
.formButton{
    grid-column: 1/3;
    margin-top: 20px;
    justify-self: center;
    
}
input[type=date], input[type=time]{
    color: #757575;
    font-size: 1rem;
}
footer{
    width: 80vw;
    border: 2px solid #000;
    margin: 0 auto 40px auto;
    padding: 30px;
    background-color: var(--corPaleta03);
 

}
footer h1{
    font-family: var(--fonteTitle);
    font-size: 2.5rem;
}
.descriptionFooter{
    display: flex;
    font-family: var(--fontParagraph);
    gap: 30px;
}
.descriptionFooter p{
    width: 300px;
    text-align: left;
    padding-top: 10px;
}
.descriptionFooter ul {
    list-style: none;
    display: grid;
    grid-template-columns:  1fr 1fr;
    width: 100%;
    gap: 30px 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--fontParagraph);
}

.descriptionFooter ul li a {
    text-decoration: none;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 8px;

   

}
.descriptionFooter ul li a:hover{
    text-decoration-color: var(--corPaleta02);
}
.socialMedia ul li {
    list-style: none;
    cursor: pointer;


}
.socialMedia ul li a {
    height: 100%;
    width: 100%;
}
.socialMedia ul {
    margin-top: 30px;
    display: flex;
    gap: 15px;
   justify-content: flex-end;

    
}
.facebook{
        background-image: url(img-sociaMedia/facebook_1384005.png);
        height: 30px;
        width: 30px;
        background-size: cover;
        background-repeat: no-repeat;
      
}
.whats{
    background-image: url(img-sociaMedia/whatsapp_4423488.png);
        height: 30px;
        width: 30px;
        background-size: cover;
        background-repeat: no-repeat;

}
.instagran{
    background-image: url(img-sociaMedia/instagram_733614.png);
    height: 30px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat9;
}

@keyframes line1-close-animation{
    0%{
        transform: translateY(-20px);
    }
    50%{
		transform: translatey(0px);
	}
	100%{
		transform: rotate(45deg);
	}
}
@keyframes line2-close-animation{
    0%{
        transform: scale(100%);
    }
   
	100%{
		transform: scale(0%);
	}
}
@keyframes line3-close-animation{
    0%{
        transform: translateY(20px);
    }
    50%{
		transform: translatey(0px);
	}
	100%{
		transform: rotate(135deg);
	}
}





@keyframes line1-animation{
    0%{
        transform: rotate(45deg);
    }
    50%{
		transform: translatey(0px) rotate(0deg);
	}
	100%{
		transform: translateY(-12px);
	}
}
@keyframes line2-animation{
    0%{
        transform: scale(0%);
    }
   
	100%{
		transform: scale(100%);
	}
}
@keyframes line3-animation {
	0%{
		transform: rotate(135deg);
	}
	50%{
		transform: translatey(0px) rotate(0deg);
	}
	100%{
		transform: translatey(12px);
	}
}


 